<footer>
  <p>&copy; <%= new Date().getFullYear() %> CSE Motors</p>
</footer>

<div>
  <a
    href="/500"
    class="test-error-link"
    title="Click to trigger a 500 server error for testing purposes"
    >500 Server Error</a
  >
</div>
