<header id="top-header">
  <div class="site-logo">
    <h1>CSE Motors</h1>
    <a href="/" title="Home Page">
      <!-- <img src="/images/logo.png" alt="CSE Motors Logo" /> -->
    </a>
  </div>
  <div class="site-header-content">
    <span><a href="/login" title="Login to My Account">My Account</a></span>
  </div>
</header>
