<nav id="main-navigation">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/category/1">Custom</a></li>
    <li><a href="/category/2">Sedan</a></li>
    <li><a href="/category/3">Sport</a></li>
    <li><a href="/category/4">SUV</a></li>
    <li><a href="/category/5">Truck</a></li>
  </ul>
</nav>